[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock
[submodule "themes/gibbon"]
	path = themes/gibbon
	url = https://github.com/SKuipers/hugo-theme-gibbon
