Redirect /administrators/ /administration/gibbon-lifecycle
Redirect /administrators/getting-started/download/ /introduction/system-requirements
Redirect /administrators/getting-started/installing-gibbon/ /introduction/installing-gibbon
Redirect /administrators/getting-started/installing-gibbon/cutting-edge-code/ /introduction/installation-options/cutting-edge-code
Redirect /administrators/getting-started/installing-gibbon/install-ubuntu-debian/ /introduction/installation-options/install-linux
Redirect /administrators/getting-started/installing-gibbon/install-windows/ /introduction/installation-options/local-installation/install-windows
Redirect /administrators/getting-started/installing-gibbon/google-oauth/ /getting-started/configuration/integrations/google-integration
Redirect /administrators/getting-started/installing-gibbon/microsoft-oauth/ /getting-started/configuration/integrations/microsoft-integration
Redirect /administrators/getting-started/installing-gibbon/install-xampp/ /introduction/installation-options/local-installation/install-xampp
Redirect /administrators/getting-started/getting-started-with-gibbon/ /getting-started/next-steps
Redirect /administrators/getting-started/importing-users/ /getting-started/school-setup/importing-data
Redirect /administrators/getting-started/customizing-gibbon/ /getting-started/customization/customizing-gibbon
Redirect /administrators/getting-started/customizing-gibbon/custom-fields/ /getting-started/customization/custom-fields
Redirect /administrators/getting-started/updating-gibbon/ /administration/updating-gibbon
Redirect /administrators/getting-started/backing-up-your-installation/ /administration/backing-up-your-system
Redirect /administrators/timetable/timetabling/ /getting-started/school-setup/timetabling
Redirect /administrators/timetable/rollover/ /modules/admin/user-admin/rollover
Redirect /administrators/reports/ /modules/assess/reports/reporting_cycles
Redirect /administrators/reports/reporting_cycles/ /modules/assess/reports/reporting_cycles
Redirect /administrators/reports/contributing/ /modules/assess/reports/contributing
Redirect /administrators/reports/proofreading/ /modules/assess/reports/proofreading
Redirect /administrators/reports/publishing/ /modules/assess/reports/publishing
Redirect /administrators/reports/templates/ /modules/assess/reports/templates
Redirect /administrators/people/form-groups/ /getting-started/school-setup/student-enrolment
Redirect /administrators/people/staff/ /modules/people/staff/staff-directory
Redirect /administrators/people/staff-absences/ /modules/people/staff/staff-absences
Redirect /administrators/people/student-profile/ /user-guides/general/student-profile
Redirect /administrators/user-admin/data-updater/ /modules/people/data-updater
Redirect /administrators/misc/command-line-tools/ /administration/command-line-tools
Redirect /administrators/misc/connecting-to-moodle/ /getting-started/configuration/integrations/connecting-to-moodle
Redirect /administrators/misc/internationalisation/ /getting-started/configuration/internationalisation
Redirect /administrators/misc/migrating-gibbon/ /administration/migrating-gibbon
Redirect /administrators/misc/sounding-an-alarm/ /modules/admin/system-admin/sounding-an-alarm
Redirect /administrators/misc/useful-sql/ /modules/admin/useful-sql
Redirect /administrators/misc/smtp-email/ /getting-started/configuration/communication/smtp-email
Redirect /developers/ /development/getting-started/developer-workflow
Redirect /developers/getting-started/developer-workflow/ /development/getting-started/developer-workflow
Redirect /developers/getting-started/gibbon-road-map/ /development/gibbon-road-map
Redirect /developers/getting-started/coding-standards/ /development/getting-started/coding-standards
Redirect /developers/getting-started/module-development/ /development/getting-started/module-development
Redirect /developers/core-concepts/build-process/ /development/core-concepts/build-process
Redirect /developers/core-concepts/database-changes/ /development/core-concepts/database-changes
Redirect /developers/core-concepts/testing/ /development/core-concepts/testing
Redirect /developers/functions/ /development/core-concepts/build-process
Redirect /developers/functions/custom-code-loaders/ /development/functions/custom-code-loaders
Redirect /developers/functions/logs/ /development/functions/logs
Redirect /developers/functions/notifications/ /development/getting-started/developer-workflow
Redirect /developers/contributing/ /development/contributing
Redirect /teachers/ /introduction/welcome
Redirect /teachers/general/logging-in/ /user-guides/general/logging-in
Redirect /teachers/general/the-home-page/ /user-guides/general/the-home-page
Redirect /teachers/general/fast-finder/ /user-guides/general/fast-finder
Redirect /teachers/general/notifications/ /user-guides/general/notifications
Redirect /teachers/general/preferences/ /user-guides/general/preferences
Redirect /teachers/assess/markbook/ /modules/assess/markbook
Redirect /teachers/assess/crowd-assessment/ /modules/assess/crowd-assessment
Redirect /teachers/assess/rubrics/ /modules/assess/rubrics
Redirect /teachers/learn/planner/ /modules/learn/planner/planner
Redirect /teachers/learn/planner/approaches-to-planning/ /modules/learn/planner/approaches-to-planning
Redirect /teachers/learn/planner/lesson-planner/ /modules/learn/planner/lesson-planner
Redirect /teachers/learn/planner/homework-online-submission/ /modules/learn/planner/homework-online-submission
Redirect /teachers/learn/planner/outcomes/ /modules/learn/planner/outcomes
Redirect /teachers/learn/planner/units/ /modules/learn/planner/units/units
Redirect /teachers/learn/planner/units/deploying-a-unit/ /modules/learn/planner/units/deploying-a-unit
Redirect /teachers/learn/planner/units/exporting-units/ /modules/learn/planner/units/exporting-units
Redirect /teachers/learn/timetable/ /modules/learn/timetable
Redirect /teachers/people/behaviour/ /modules/people/behaviour
Redirect /teachers/people/student-profiles/ /modules/people/student-profiles
Redirect /teachers/other/finance/ /modules/other/finance/finance
Redirect /teachers/other/finance/expenses/ /modules/other/finance/finance
Redirect /teachers/other/finance/expenses/budgets/ /modules/other/finance/expenses/budgets
Redirect /teachers/other/finance/expenses/approval/ /modules/other/finance/expenses/approval
Redirect /teachers/other/finance/expenses/making-a-request/ /modules/other/finance/expenses/making-a-request
Redirect /teachers/other/messenger/ /modules/other/messenger/messenger
Redirect /teachers/other/messenger/read-receipts/ /modules/other/messenger/read-receipts
Redirect /teachers/other/latex/ /modules/other/latex
Redirect /parents/ /user-guides/parents
Redirect /administrators/getting-started/ /administration/gibbon-lifecycle
Redirect /administrators/timetable/ /getting-started/school-setup/timetabling
Redirect /administrators/people/ /getting-started/school-setup/student-enrolment
Redirect /administrators/user-admin/ /getting-started/school-setup/roles-permissions
Redirect /administrators/misc/ /administration/gibbon-lifecycle
Redirect /developers/getting-started/ /development/getting-started/developer-workflow
Redirect /developers/core-concepts/ /development/getting-started/developer-workflow
Redirect /teachers/general/ /introduction/welcome
Redirect /teachers/assess/ /introduction/welcome
Redirect /teachers/learn/ /introduction/welcome
Redirect /teachers/people/ /introduction/welcome
Redirect /teachers/other/ /introduction/welcome
Redirect /about/ /about
