Redirect /administrators/ /guides/administration/gibbon-lifecycle
Redirect /administrators/getting-started/download/ /reference/system-requirements
Redirect /administrators/getting-started/installing-gibbon/ /guides/install/installing-gibbon
Redirect /administrators/getting-started/installing-gibbon/cutting-edge-code/ /explanation/cutting-edge-code
Redirect /administrators/getting-started/installing-gibbon/install-ubuntu-debian/ /guides/install/local/install-linux
Redirect /administrators/getting-started/installing-gibbon/install-windows/ /guides/install/local/install-windows
Redirect /administrators/getting-started/installing-gibbon/google-oauth/ /tutorials/configuring-gibbon/integrations/google-integration
Redirect /administrators/getting-started/installing-gibbon/microsoft-oauth/ /tutorials/configuring-gibbon/integrations/microsoft-integration
Redirect /administrators/getting-started/getting-started-with-gibbon/ /get-started/next-steps
Redirect /administrators/getting-started/importing-users/ /get-started/school-setup/importing-data
Redirect /administrators/getting-started/customizing-gibbon/ /tutorials/customizing-gibbon/customizing-gibbon
Redirect /administrators/getting-started/customizing-gibbon/custom-fields/ /tutorials/customizing-gibbon/custom-fields
Redirect /administrators/getting-started/updating-gibbon/ /guides/administration/updating-gibbon
Redirect /administrators/getting-started/backing-up-your-installation/ /guides/administration/backing-up-your-system
Redirect /administrators/timetable/timetabling/ /get-started/school-setup/timetabling
Redirect /administrators/timetable/rollover/ /guides/modules/user-admin/rollover
Redirect /administrators/reports/ /guides/modules/reports/reporting_cycles
Redirect /administrators/reports/reporting_cycles/ /guides/modules/reports/reporting_cycles
Redirect /administrators/reports/contributing/ /guides/modules/reports/contributing
Redirect /administrators/reports/proofreading/ /guides/modules/reports/proofreading
Redirect /administrators/reports/publishing/ /guides/modules/reports/publishing
Redirect /administrators/reports/templates/ /guides/modules/reports/templates
Redirect /administrators/people/form-groups/ /get-started/school-setup/student-enrolment
Redirect /administrators/people/staff/ /guides/modules/staff/staff-directory
Redirect /administrators/people/staff-absences/ /guides/modules/staff/staff-absences
Redirect /administrators/people/student-profile/ /tutorials/using-gibbon/general/student-profile
Redirect /administrators/user-admin/data-updater/ /guides/modules/data-updater/data-updater
Redirect /administrators/misc/command-line-tools/ /guides/administration/command-line-tools
Redirect /administrators/misc/connecting-to-moodle/ /tutorials/configuring-gibbon/integrations/connecting-to-moodle
Redirect /administrators/misc/internationalisation/ /tutorials/configuring-gibbon/internationalisation
Redirect /administrators/misc/migrating-gibbon/ /guides/administration/migrating-gibbon
Redirect /administrators/misc/sounding-an-alarm/ /guides/modules/system-admin/sounding-an-alarm
Redirect /administrators/misc/useful-sql/ /reference/useful-sql
Redirect /administrators/misc/smtp-email/ /tutorials/configuring-gibbon/communication/smtp-email
Redirect /developers/ /guides/development/developer-workflow
Redirect /developers/getting-started/developer-workflow/ /guides/development/developer-workflow
Redirect /developers/getting-started/gibbon-road-map/ /explanation/development/gibbon-road-map
Redirect /developers/getting-started/coding-standards/ /reference/coding-standards
Redirect /developers/getting-started/module-development/ /explanation/development/module-development
Redirect /developers/core-concepts/build-process/ /explanation/development/core-concepts/build-process
Redirect /developers/core-concepts/database-changes/ /explanation/development/core-concepts/database-changes
Redirect /developers/core-concepts/testing/ /explanation/development/core-concepts/testing
Redirect /developers/functions/ /explanation/development/core-concepts/build-process
Redirect /developers/functions/custom-code-loaders/ /explanation/development/functions/custom-code-loaders
Redirect /developers/functions/logs/ /explanation/development/functions/logs
Redirect /developers/functions/notifications/ /guides/development/developer-workflow
Redirect /developers/contributing/ /guides/development/contributing
Redirect /teachers/ /get-started/welcome
Redirect /teachers/general/logging-in/ /tutorials/using-gibbon/general/logging-in
Redirect /teachers/general/the-home-page/ /tutorials/using-gibbon/general/the-home-page
Redirect /teachers/general/fast-finder/ /tutorials/using-gibbon/general/fast-finder
Redirect /teachers/general/notifications/ /tutorials/using-gibbon/general/notifications
Redirect /teachers/general/preferences/ /tutorials/using-gibbon/general/preferences
Redirect /teachers/assess/markbook/ /guides/modules/markbook/markbook
Redirect /teachers/assess/crowd-assessment/ /guides/modules/crowd-assessment/crowd-assessment
Redirect /teachers/assess/rubrics/ /guides/modules/rubrics/rubrics
Redirect /teachers/learn/planner/ /guides/modules/planner/lesson-planner
Redirect /teachers/learn/planner/approaches-to-planning/ /guides/modules/planner/approaches-to-planning
Redirect /teachers/learn/planner/lesson-planner/ /guides/modules/planner/lesson-planner
Redirect /teachers/learn/planner/homework-online-submission/ /guides/modules/planner/homework-online-submission
Redirect /teachers/learn/planner/outcomes/ /guides/modules/planner/outcomes
Redirect /teachers/learn/planner/units/ /guides/modules/planner/units/units
Redirect /teachers/learn/planner/units/deploying-a-unit/ /guides/modules/planner/units/deploying-a-unit
Redirect /teachers/learn/planner/units/exporting-units/ guides/modules/planner/units/exporting-units
Redirect /teachers/learn/timetable/ /guides/modules/timetable/timetable
Redirect /teachers/people/behaviour/ /guides/modules/behaviour/behaviour
Redirect /teachers/people/student-profiles/ /guides/modules/students/student-profiles
Redirect /teachers/other/finance/ /guides/modules/finance/budgets
Redirect /teachers/other/finance/expenses/ /guides/modules/finance/budgets
Redirect /teachers/other/finance/expenses/budgets/ /guides/modules/finance/budgets
Redirect /teachers/other/finance/expenses/approval/ /guides/modules/finance/approval
Redirect /teachers/other/finance/expenses/making-a-request/ /guides/modules/finance/making-a-request
Redirect /teachers/other/messenger/ /guides/modules/messenger/messenger
Redirect /teachers/other/messenger/read-receipts/ /guides/modules/messenger/read-receipts
Redirect /teachers/other/latex/ /tutorials/using-gibbon/general/latex/
Redirect /parents/ /tutorials/using-gibbon/parents
Redirect /administrators/getting-started/ /guides/administration/gibbon-lifecycle
Redirect /administrators/timetable/ /get-started/school-setup/timetabling
Redirect /administrators/people/ /get-started/school-setup/student-enrolment
Redirect /administrators/user-admin/ /get-started/school-setup/roles-permissions
Redirect /administrators/misc/ /guides/administration/gibbon-lifecycle
Redirect /developers/getting-started/ /guides/development/developer-workflow
Redirect /developers/core-concepts/ /guides/development/developer-workflow
Redirect /teachers/general/ /get-started/welcome
Redirect /teachers/assess/ /get-started/welcome
Redirect /teachers/learn/ /get-started/welcome
Redirect /teachers/people/ /get-started/welcome
Redirect /teachers/other/ /get-started/welcome
Redirect /about/ /get-started/welcome
